[submodule "themes/strange-case"]
	path = themes/strange-case
	url = https://github.com/ExchangeRate-API/strange-case.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
	branch = release
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
